@import './config.scss';

.container-filter{
    display: flex;
    width: 96%;
    flex-direction: column;
    margin-top: 16px;
    background-color: $mediumGreyColorOpacity;
    border-radius: 12px;
    padding: 10px 15px;

    .title{
        display: flex;
        align-items: center;
        justify-content: space-between;

        .form{
            display: none;
        }

        span{
            color: $primaryColor;
            font-size: 18px;
            font-weight: bold;
        }
    }

    .mobile-filters{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-top: 16px;

        div{
            display: flex;
            align-items: center;
            justify-content: center;
            padding-bottom: 8px;

            label{
                color: $primaryColor;
                font-size: 14px;
                margin-bottom: 0;
                margin-right: 15px;
            }
        }
    }

    @media screen and (min-width: $mediaQueryDesktop) {
        padding: 20px;

        .mobile-filters{
            display: none;
        }

        .title{
            img{
                display: none;
            }

            .form{
                display: flex;
                align-items: center;
                justify-content: center;

                label{
                    color: $primaryColor;
                    font-size: 14px;
                    margin-left: 10px;
                    margin-bottom: 0;
                    margin-right: 15px;
                }

                input, select{
                    border-color: $primaryColor;
                }

                select {
                    width: 100px;
                }

                .separator {
                    border: 1px solid $primaryColor;
                    width: 0;
                    height: 40px;
                    margin-left: 15px;
                }
            }
        }
    }
}